    .dashboard {
      display: flex;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .dashboard__nav {
      width: 200px;
      background: #f0f0f0;
      height: 100vh;
      padding: 20px;
    }
    
    .dark-theme {
    background-color: #121212;
    color: white;
}

/*theme*/

    body.dark-theme {
      background-color: #121212;
      color: white;
    }

    .filters {
      max-width: 800px;
      margin: 2rem auto;
      padding: 1rem;
      background: #f0f0f0;
      border-radius: 10px;
    }

    .dark-theme .filters {
      background: #1e1e1e;
    }

    .filter-buttons button {
      margin: 0.25rem;
      padding: 0.5rem 1rem;
    }

    #filterControls select,
    #filterControls input,
    #filterControls button {
      margin: 0.25rem;
    }

    #barChart {
      max-width: 100%;
      height: 400px;
    }

    #theme-toggle {
      text-align: center;
      margin-top: 1rem;
    }


    .dashboard__link {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }

    .dashboard__section {
      display: none;
      padding: 20px;
      flex: 1;
    }

    .dashboard__section--active {
      display: block;
    }

    canvas {
      width: 100% !important;
      height: auto !important;
      display: block;
    }